@use '@/styles/mixins' as *;

.page {
  padding-block: 40px 80px;
}

.container {
  grid-column: 1 / -1;
  text-align: center;

  @include tablet {
    grid-column: 3 / span 8;
  }

  @include desktop {
    grid-column: 7 / span 12;
  }

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.info {
  color: var(--color-gray-secondary);
}

.infoSmall {
  color: var(--color-gray-secondary);
}
