@use '@/styles/variables' as *;

.divider {
  width: 100%;
  height: 1px;
  background-color: $color-elements;
  margin: 16px 0;
}

.dividerFull {
  width: 100%;
  height: 1px;
  background-color: $color-elements;
  margin: 16px 0;
}
