@import '../../../styles/variables';

.dropdown-container {
  position: relative;
  width: 176px;
  box-sizing: border-box;
}

.dropdown-header {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  box-sizing: border-box;
  
  background-color: var(--color-surface2);
  color: var(--text-primary);
  border: 1px solid var(--color-surface2);
  border-radius: 8px;
  
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;

  & > * {
    color: inherit;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    border-color: var(--color-icons);
    .dropdown-arrow {
      border-color: var(--color-icons);
    }
  }

  &[aria-expanded="true"] {
    border-color: var(--color-focus, #905bff);
    .dropdown-arrow {
      border-color: var(--text-secondary);
    }
  }
}

.dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  
  top: calc(100% + 4px); 
  
  background-color: var(--color-black); 
  border: 1px solid var(--color-elements);
  
  box-shadow: 0px 2px 15px 0px #0000000D; 
  
  z-index: 1000;
  list-style: none;
  margin: 0;
  
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0; 
  padding-right: 0;
  
  box-sizing: border-box;
  border-radius: 8px;

  max-height: 210px; 
  overflow-y: auto;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-icons);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;

  &.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s;
  }
}


.dropdown-item {
  width: 100%; 
  height: 32px;
  border: none;
  
  background-color: var(--color-black); 
  color: var(--text-secondary);
  
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 0 12px; 
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  & > * {
    color: inherit;
  }

  &:hover,
  &.selected {
    background-color: var(--color-surface2); 
    color: var(--text-primary);
  }
}

.dropdown-arrow {
  border: solid var(--text-secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s, border-color 0.2s;
}

.dropdown-arrow.down {
  transform: rotate(45deg);
}

.dropdown-arrow.up {
  transform: rotate(-135deg);
}