@use './variables' as *;
@mixin typography($family, $weight, $size, $line, $spacing: 0) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
}

@mixin tablet {
  @media (min-width: $tablet-min) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}
