// Breakpoints
$tablet-min: 640px;
$desktop-min: 1200px;

// Colors
$color-secondary: #75767f;
$color-icons: #4a4d58;
$color-elements: #3b3e4a;
$color-surface2: #323542;
$color-surface1: #161827;
$color-black: #0f1121;

$color-white: #f1f2f9;
$color-accent: #e8e9ee;
$color-green: #27ae60;
$color-red: #eb5757;

$text-primary: #f1f2f9;
$text-secondary: #75767f;

:root {
  --color-secondary: #75767f;
  --color-icons: #4a4d58;
  --color-elements: #3b3e4a;
  --color-surface2: #323542;
  --color-surface1: #161827;
  --color-black: #0f1121;

  --color-white: #f1f2f9;
  --color-accent: #e8e9ee;
  --color-green: #27ae60;
  --color-red: #eb5757;

  --text-primary: #f1f2f9;
  --text-secondary: #75767f;

  --btn-primary: #905bff;
  --btn-primary-hover: #a378ff;
  --btn-primary-selected: var(--color-surface2);

  --btn-square-bg: var(--color-surface1);
  --btn-square-hover: var(--color-elements);
  --btn-square-selected: var(--btn-primary);

  --btn-arrow-bg: var(--color-surface2);
  --btn-arrow-hover: var(--color-icons);
  --btn-arrow-disabled: var(--color-elements);

  --btn-icon-bg: var(--color-surface2);
  --btn-icon-hover: var(--color-icons);
  --btn-icon-selected: var(--color-elements);
}
