.section {
  margin-block: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.controls {
  display: flex;
  gap: 8px;
}

.slide {
  width: 272px;
  flex: 0 0 auto;
}
