.section {
  margin-block: 24px;
}

.sliderCell {
  grid-column: 1 / -1;
}

.arrowLeft,
.arrowRight {
  display: none;
}

@media (min-width: 640px) {
  .arrowLeft,
  .arrowRight,
  .sliderCell {
    grid-row: 1;
  }

  .arrowLeft,
  .arrowRight {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    max-width: 32px;
    border-radius: 100px;
    background: var(--color-surface2);
    color: var(--text-primary);
    cursor: pointer;
  }

  .arrowLeft {
    grid-column: 1 / span 1; // 1
  }

  .sliderCell {
    grid-column: 2 / span 10; // 2–11
  }

  .arrowRight {
    grid-column: 12 / span 1; // 12
  }
  .arrowLeft,
  .arrowRight {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .arrowLeft {
    grid-column: 1 / span 1; // 1
  }

  .sliderCell {
    grid-column: 2 / span 22; // 2–23
  }

  .arrowRight {
    grid-column: 24 / span 1; // 24
  }
}
