.card {
  display: flex;
  flex-direction: column;
  background-color: #161827;
  border-radius: 16px;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.image {
  height: 120%;
  width: 120%;
  object-fit: contain;
  display: block;

  transform: translateY(10%);
}

.info {
  padding: 16px 12px 20px;
}
