@use '@/styles/mixins' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ---------- SPACING RULES ---------- */

.heroTopSpacing {
  margin-top: 24px;
}

.sectionSpacing {
  margin-top: 32px;
}

/* ---------- GRID WRAPPERS ---------- */

.lineWrapper {
  grid-column: span 4;

  @include tablet {
    grid-column: span 12;
  }

  @include desktop {
    grid-column: span 24;
  }
}

.listWrapper {
  grid-column: span 4;

  @include tablet {
    grid-column: span 12;
  }

  @include desktop {
    grid-column: span 24;
  }
}

.summaryWrapper {
  margin-top: 24px;
  grid-column: span 4;

  @include tablet {
    grid-column: span 12;
  }

  @include desktop {
    margin-top: 0;
    grid-column: span 6;
  }
}

.emptyText {
  color: var(--text-secondary);
  margin-top: 16px;

  @include tablet {
    margin-top: 24px;
  }

  @include desktop {
    margin-top: 32px;
  }
}

.cartItemSkeletonWrapper {
  margin-bottom: 16px;
}

.summaryCardSkeleton {
  padding: 24px;
  border-radius: 8px;
  background-color: #161827;
  border: 1px solid #323542;
}
