@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.page {
  padding-block: 40px;
}

.title {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.gallery {
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 1 / 8;
  }

  @include desktop {
    grid-column: 1 / 11;
  }
}

.controls {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    grid-column: 8 / -1;
  }

  @include desktop {
    grid-column: 12 / 21;
  }
}

.buttonWrapper {
  display: flex;
  gap: 8px;
}

.colors {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.colorCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.activeColor {
  border-color: $color-white;
}

.capacity {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.capBtn {
  padding: 8px 16px;
  border: 1px solid #444;
  background: none;
  cursor: pointer;
  color: $color-white;
}

.activeCap {
  background: $color-white;
  color: $color-black;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceCurrent {
  font-size: 800;
}

.priceOld {
  text-decoration: line-through;
  color: $text-secondary;
}

.addToCart {
  padding: 14px;
  border-radius: 10px;
  background: #605dec;
  color: white;
  border: none;
  cursor: pointer;
}

.smallSpecs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    margin-right: 10px;
  }
}

.specItem {
  display: flex;
  justify-content: space-between;
}

.specValue {
  color: var(--text-primary);
}

.about {
  grid-column: 1 / -1;
  margin-top: 56px;

  @include desktop {
    grid-column: 1 / 11;
  }

  p {
    color: $text-secondary;
    margin-top: 16px;
  }
}

.aboutBlock {
  margin: 32px 0;
}

.tech {
  grid-column: 1 / -1;
  margin-top: 60px;

  @include desktop {
    grid-column: 12 / -1;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    span {
      margin-right: 10px;
    }
  }
}

.label {
  color: var(--color-gray-secondary);
}
