@use '@/styles/mixins' as *;

.h1 {
  @include typography('Mont', 700, 32px, 41px, -0.01em);

  @include tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.h2 {
  @include typography('Mont', 700, 22px, 31px, -0.01em);

  @include tablet {
    font-size: 32px;
    line-height: 41px;
  }
}

.h3 {
  @include typography('Mont', 600, 20px, 26px);

  @include tablet {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
  }
}

.h4 {
  @include typography('Mont', 600, 16px, 20px);

  @include tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

/* Button text */
.button {
  @include typography('Mont', 600, 14px, 21px);
}

/* Body text */
.body {
  @include typography('Mont', 400, 14px, 21px);
}

/* Small text */
.small {
  @include typography('Mont', 600, 12px, 15px);
}

.uppercase {
  text-transform: uppercase;
}
