@use '../../../styles/mixins' as *;

.cartItem {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  max-width: 591px;
  background-color: #161827;
  border-radius: 8px;

  &__descripton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    width: 100%;
  }

  &__close {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &__imagebox {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 66px;
    height: 66px;
    object-fit: contain;
  }

  &__title {
    width: 100%;
    
    &:hover {
      color: #A378FF;
    }
  }

  &__values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
  }

  &__quantity {
    display: inline-block;
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 32px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__price {
    text-align: right;
    height: 32px;
    line-height: 32px;
  }
  &--skeleton {
    pointer-events: none;

    .cartItem__link {
      pointer-events: none;
    }
  }
}

@include tablet {
  .cartItem {
    flex-direction: row;
    max-width: unset;
    width: 100%;
  }

  .cartItem__descripton {
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 24px;
    padding-bottom: 24px;

    flex-grow: 1;
    width: auto;
  }

  .cartItem__values {
    width: 200px;
    flex-shrink: 0;
    padding: 24px;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
  }

  .cartItem__price {
    width: 80px;
    text-align: right;
    height: 32px;
    line-height: 32px;
  }
}
