@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.footer {
  background: $color-black;
  padding-block: 32px 16px;
  color: var(--color-white);
}

.footerGrid {
  row-gap: 24px;
}

.logoCell {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  min-height: 32px;

  @include tablet {
    grid-column: 1 / 3;
  }

  @include desktop {
    grid-column: 1 / 5;
  }
}

.links {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include tablet {
    grid-column: 3 / 11;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  @include desktop {
    grid-column: 5 / 21;
    justify-content: center;
    gap: 100px;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  li {
    cursor: pointer;
    font-weight: 800;

    &:hover {
      color: $text-secondary;
    }
  }
}

.backToTop {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;

  @include tablet {
    grid-column: 11 / -1;
    justify-content: flex-end;
  }

  @include desktop {
    grid-column: 21 / -1;
  }
}