// @use '@/styles/mixins' as *;
// @use '@/styles/variables' as *;

// .footer {
//   background: $color-black;
//   padding-block: 32px 16px;
// }

// .nav {
//   display: flex;
//   gap: 40px;

//   a {
//     color: var(--color-white);
//   }
// }

// .topContent {
//   @include tablet {
//     grid-column: 2 / 3;
//   }
// }

// .bottom {
//   width: 100%;
//   grid-column: 1 / -1;

//   @include tablet {
//     grid-column: 3 / -1;
//   }
// }

// .bottomContent {
//   grid-column: 1 / -1;

//   display: grid;
//   align-items: center;

//   grid-template-columns: repeat(4, minmax(0, 1fr));

//   gap: 24px;

//   @include tablet {
//     grid-template-columns: repeat(12, minmax(0, 1fr));
//   }

//   @include desktop {
//     grid-template-columns: repeat(24, minmax(0, 1fr));
//   }
// }

// .links {
//   grid-column: 1 / -1;

//   display: flex;
//   flex-direction: column;
//   gap: 16px;

//   @include tablet {
//     grid-column: 3 / 9;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     gap: 13px;
//   }

//   @include desktop {
//     grid-column: 3 / 21;
//     justify-content: center;
//     gap: 100px;
//   }

//   li {
//     cursor: pointer;
//     font-weight: 800;

//     &:hover {
//       color: $text-secondary;
//     }
//   }
// }

// .backToTop {
//   display: flex;
//   align-items: center;
//   gap: 16px;
//   cursor: pointer;

//   grid-column: 2 / 4;
//   justify-self: center;

//   @include tablet {
//     grid-column: 10 / -1;
//   }

//   @include desktop {
//     grid-column: 22 / -1;
//   }
// }


@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.footer {
  background: $color-black;
  padding-block: 32px 16px;
  color: var(--color-white);
}

.footerGrid {
  row-gap: 24px;
}

.logoCell {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  min-height: 32px;

  @include tablet {
    grid-column: 1 / 3;
  }

  @include desktop {
    grid-column: 1 / 5;
  }
}

.links {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include tablet {
    grid-column: 3 / 11;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  @include desktop {
    grid-column: 5 / 21;
    justify-content: center;
    gap: 100px;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  li {
    cursor: pointer;
    font-weight: 800;

    &:hover {
      color: $text-secondary;
    }
  }
}

.backToTop {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;

  @include tablet {
    grid-column: 11 / -1;
    justify-content: flex-end;
  }

  @include desktop {
    grid-column: 21 / -1;
  }
}