@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.footer {
  background: $color-black;
  padding-block: 32px 16px;
}

.nav {
  display: flex;
  gap: 40px;

  a {
    color: var(--color-white);
  }
}

.topContent {
  @include tablet {
    grid-column: 2 / 3;
  }
}

.bottom {
  width: 100%;
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 3 / -1;
  }
}

.bottomContent {
  grid-column: 1 / -1;

  display: grid;
  align-items: center;

  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 24px;

  @include tablet {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  @include desktop {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
}

.links {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    grid-column: 3 / 9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  @include desktop {
    grid-column: 3 / 21;
    justify-content: center;
    gap: 100px;
  }

  li {
    cursor: pointer;
    font-weight: 800;

    &:hover {
      color: $text-secondary;
    }
  }
}

.backToTop {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  grid-column: 2 / 4;
  justify-self: center;

  @include tablet {
    grid-column: 10 / -1;
  }

  @include desktop {
    grid-column: 22 / -1;
  }
}
