@use '@/styles/variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  border-radius: 8px;

  pointer-events: auto;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.square {
  width: 32px;
  height: 32px;
  background: var(--btn-square-bg);
  color: var(--color-white);
  font-size: 16px;

  &:hover {
    background: var(--btn-square-hover);
  }

  &.selected {
    background: var(--btn-square-selected);
  }
}

.squareArrow {
  width: 32px;
  height: 32px;
  background: var(--btn-arrow-bg);
  border-radius: 8px;

  svg path {
    fill: var(--color-white);
  }

  &:hover {
    background: var(--btn-arrow-hover);
  }

  &.disabled {
    border: 1px solid var(--btn-arrow-disabled);
    background-color: transparent;

    svg path {
      fill: var(--btn-arrow-disabled);
    }
  }
}

.iconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-icon-bg);
  border-radius: 6px;
  flex-shrink: 0;

  &:hover {
    background: var(--btn-icon-hover);
  }

  &.selected {
    border: 1px solid var(--btn-icon-selected);
  }
}

.primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 9.5px 0;
  background: var(--btn-primary);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;

  &:hover {
    background: var(--btn-primary-hover);
  }

  &.selected {
    background: var(--btn-primary-selected);
  }
}

.circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 1px solid var(--color-elements);
    transition: 0.2s ease;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 50%;
    border: 2px solid var(--circle-border-inner);
    transition: 0.2s ease;
  }

  &:hover::before {
    border-color: var(--color-secondary);
  }

  &.selected::before {
    border-color: var(--color-white);
  }
}

.circleInner {
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  transition: 0.2s ease;
}

.inline {
  background: none;
  border: none;
  padding: 0;
  color: $color-secondary;
  font-size: 12px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }
}