@use '@/styles/mixins' as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 1000;

  background-color: var(--color-black);
  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.isOpen {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-elements);
  padding-left: 24px;
}

.logoLink {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.closeButton {
  width: 48px;
  height: 100%;
  border: none;
  border-left: 1px solid var(--color-elements);
  background: transparent;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: var(--color-elements);
  }
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  gap: 16px;
}

.navLink {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--color-secondary);
  transition: color 0.3s ease;
  position: relative;

  &:hover {
    color: var(--color-white);
  }

  &.isActive {
    color: var(--color-white);

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
    }
  }
}

.footer {
  height: 64px;
  display: flex;
  border-top: 1px solid var(--color-elements);
}

.footerButton {
  flex: 1;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  transition: background 0.3s;

  &:first-child {
    border-right: 1px solid var(--color-elements);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &.isActive {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-white);
    }
  }
}
